html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #0b3329;
  --color-secondary: #d4a373;
  --color-secondary-light: #f1e8d6;
  --color-secondary-bright: #eee0cb;
  --color-bg: #f4efe1;
  --color-white: #ffffff;

  --font-nadpisy: "Winky Rough", sans-serif;
  --font-text: "Open Sans", sans-serif;

  --radius: 40px;
  --stredovy-kontejner: 1200px;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-text);
  color: var(--color-primary);
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--font-nadpisy);
  font-weight: 700;
}

h1 {
  line-height: 1.2;
  font-size: 3.5rem;
}

h2 {
  line-height: 1.2;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

header {
  padding: 20px 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  height: 45px;
}

.navigation {
  display: inline-block;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.nav__link {
  text-decoration: none;
  color: var(--color-primary);
  padding: 10px 15px;
  border-radius: 100vh;
  font-size: 1.25rem;
  white-space: nowrap;
  font-weight: 700;
  font-family: var(--font-nadpisy);
}

.container {
  max-width: 540px;
  padding: 0 20px;
  margin: 0 auto;
}